body {
	background-color: gray;
}
h1 {
	color: rgb(69, 252, 69);
	text-shadow: 1px 1px 2px black;
}
.main {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	width: 200px;
	height: 100px;
	color: black;
	font-size: large;
	background-color: rgb(69, 252, 69);
}
button:hover {
	width: 200px;
	height: 100px;
	color: white;
	font-size: large;
	background-color: rgb(101, 107, 101);
}
.buttonDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.content {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

/* NAVBAR */
.nav {
	height: 4rem;
	padding: 1rem;
}
.nav-link {
	width: 2rem;
	text-align: center;
}
ul {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	justify-content: center;
}
.nav-item a {
	text-align: center;
	padding: 1rem;
	font-size: large;
	font-weight: bold;
	text-decoration: none;
}
